@model TakeABreak.Models.ReportsViewModel

@{
    ViewData["Title"] = "ReportDashboard";
}

<h2>Report Dashboard</h2>

<p>Highest Productivity Rating Break History</p>

<div>
    @if (Model.ProductivityRating > 4)
    {
        @foreach (var user in Model.Email)
        {
            <div>
                <ul>
                    <li>Date: @Html.DisplayFor(modelItem => Model.Date)</li>
                    <li>Productivity Rating: @Html.DisplayFor(modelItem => Model.ProductivityRating)</li>
                    <li>Points earned: @Html.DisplayFor(modelItem => Model.PointsEarned)</li>
                    <li>Points goal: @Html.DisplayFor(modelItem => Model.PointsGoal)</li>
                </ul>
            </div>
        }

    } else
    {
        <p>Sorry, no data</p>

    }
</div>