@model TakeABreak.Models.DashboardViewModel

@{
    ViewData["Title"] = "Break Dashboard";
}

<div>
    <ul>
        <li><a href="../Days/Create">Set Daily Break Goal</a></li>
        <li><a>Add Break</a></li>
        <li><a>View Break History</a></li>
    </ul>
</div>

<div>
    @await Component.InvokeAsync("DayDetail")
</div>
