@model TakeABreak.Models.Day

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Daily Break Goal</h2>

<hr />
<div class="row">
    <div class="col-md-5">
        <p>A quick note about productivity ratings: At the end of the day, think back on your productivity. 
        Did you get more or less done than you hoped? The goal is to track productivity vs. breaks to find the right
        balance to make you as productive as possible.</p>
        <p>Add reminders at the beginning of the day to help you stay focused on your goals.</p>
    </div>

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DayId" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="PointsEarned" />
            <div class="form-group">
                <label asp-for="PointsGoal" class="control-label"></label>
                <input asp-for="PointsGoal" class="form-control" />
                <span asp-validation-for="PointsGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reminders" class="control-label"></label>
                <input asp-for="Reminders" class="form-control" />
                <span asp-validation-for="Reminders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductivityRating" class="control-label"></label>
                <select asp-for="ProductivityRating">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                    <option value="0">No Rating</option>
                </select>
                <span asp-validation-for="ProductivityRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
